.ImageContainer {
  position: relative;
  width: 50%;
  height: auto;
  overflow: hidden;
}

.ImageText {
  position: absolute;
  bottom: 10px;
  left: 5px;
  width: 350px;
  height: 250px;
  padding: 30px;
  background: #ffffff70;
}
